<div class="following list">
  <h1 style="text-align:center;font-size:large;margin-top:50px;">following list</h1>

</div>
<% @user.followings.each do |user| %>
<table>
<tr>
  <td>  <%= user.nickname %> </td>
  <td><%= link_to '詳細', user_path(user) %></td>
</tr>

</table>
<% end %>
