<div class="contents" style="height:250px;padding-top:25px;">
  <div class="image"style="height:200px;width:200px;display:block;margin:0 auto;background-color:black;">

  </div>

</div>

<%= render 'follow_form' %>
<%= render 'stats' %>
