// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.stats{
  text-align: center;
  margin:100px;
}
.stats a{
  margin: 100px;
}

table{
  width: 200px;
    display: block;
    margin: 100px auto;
}
tbody{
  width:100px;
  display:block;
  margin:0 auto;
}
