<h1 style="text-align:center;margin-top:50px;font-size:30px;">New Place</h1>

<%= render 'form' %>

<%= link_to 'Back', places_path,:style =>"width: 200px;
    margin: 0 auto;
    display: block;
    text-align: center;" %>
